.facts {
  padding: 100px 0 50px 0;
  position: relative;
  box-sizing: border-box;

  &-title {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #fff;
  }

  &-slide {

    &-desc {
      margin-top: 40px;
      margin-right: 0;
      font-weight: normal;
      font-size: 27px;
      line-height: 32px;
      text-align: center;
      color: #fff;
    }
  }
  
  & > .swiper-button-prev, .swiper-button-next {
    width: 31px;
    height: 58px;
    top: 420px;
    color: #B78A3F;
  }

  & > .swiper-button-prev {
    left: -60px;
  }

  & > .swiper-button-next {
    right: -50px;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    
    & > .swiper-pagination-bullet {
      margin: 0 20px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #B78A3F;
      display: inline-block;
      background-color: transparent;
      opacity: 1;
      transition: 0.3s background-color;
      }

    & > .swiper-pagination-bullet-active {
        background-color: #B78A3F;
    }
  }
}
